@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--color-primary: #00467f;
	--color-secondary: #8cd2f4;
	--color-accent: #999999;
	--color-gray: #c0c0c0;
	--color-light-gray: #f0f0f0;
	--color-dark-gray: #616161;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #ffffff;
		--foreground: #171717;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
